<br/>

<div class="pull-right">
	<a href="#!/create" class="btn btn-default" ng-show="hasRole('admin')" title="Create"><span class="glyphicon glyphicon-plus"></span></a>
</div>

<div class="page-header">
	<h3>Hall Of Fame</h3>
</div>




<div class="centerDiv">

<div class="leftDiv">
<br/>
<a href="#!/home" class="btn btn-info" style="width: 95%;"   >My Dashboard</a>
<a href="#!/halloffame" class="btn btn-info" style="width: 95%;" ng-click="STab(3)">Hall of Fame</a>
<a href="javascript:" class="btn btn-info" style="width: 95%; " ng-click="STab(4)">Personal Details</a>

</div>


<div class="rightDiv">

<a href="javascript:" class="btn btn-info" ng-click="STab(1)"> Active Cases</a>
<a href="javascript:" class="btn btn-info" ng-click="STab(2)"> My Stats</a>
<a href="javascript:" class="btn btn-info" ng-click="STab(3)"> Notifications</a>

<div class="tab" ng-show="ATab(1)">
 <div class="myDiv"><p>My Lawsuits</p><table ng-table="suerLawsuits"  class="table table-hover">
	<thead>
		<tr>
			<th>Lawsuit Id</th>
			<th>Lawsuit Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		  <tr ng-repeat="lawsuitEntry in lawsuitEntries">
			<td>{{lawsuitEntry.id}}</td>
			<td>{{lawsuitEntry.name}}</td>
			<td><a href="#!/edit/{{lawsuitEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
			<td><a href="" ng-click="deleteLawsuitEntry(lawsuitEntry)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	</tbody>
</table></div>
 <div class="participatedDiv"><p>Participated Lawsuits</p><table ng-table="suedLawsuits"  class="table table-hover">
	<thead>
		<tr>
			<th>Lawsuit Id</th>
			<th>Lawsuit Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		  <tr ng-repeat="lawsuitEntry in lawsuitEntries">
			<td>{{lawsuitEntry.id}}</td>
			<td>{{lawsuitEntry.name}}</td>
			<td><a href="#!/edit/{{lawsuitEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
			<td><a href="" ng-click="deleteLawsuitEntry(lawsuitEntry)" class="btn btn-xs btn-default" ng-show="hasRole('admin')" title="delete"><span class="glyphicon glyphicon-trash"></span></a></td>
		</tr>
	</tbody>
</table></div>
 <div class="liveDiv"><p>Live Feed</p></div>
 <br style="clear: left;" />

</div>
<div class="tab" ng-show="ATab(2)">
<h1>hall of fammemme</h1>
loremfglkerjgkefj
 </div>
<div class="tab" ng-show="ATab(3)">
<h1>icerik 3 </h1>
loremfglkerjgkefj
 </div>

<div class="tab" ng-show="ATab(4)">
<h1>icerik 4 </h1>
loremfglkerjgkefj
 </div>

</div>
</div>




	


